/* Your code here */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-size: 22px;
    padding: 16px;
    margin: 12px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#board {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 1px;
}

.square {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #000000;
}

.empty {
    background-color: transparent;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}
